---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/v4/linode/instances
    body:
      encoding: UTF-8
      string: '{"type":"g6-dedicated-4","region":"us-central","image":"linode/ubuntu18.04","root_pass":"not_a_real_password"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557842211'
      Retry-After:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"label": "linode14003626", "backups": {"schedule": {"window": null,
        "day": null}, "enabled": false}, "updated": "2019-05-14T13:54:51", "id": 14003626,
        "alerts": {"cpu": 90, "network_out": 10, "network_in": 10, "io": 10000, "transfer_quota":
        80}, "region": "us-central", "status": "provisioning", "image": "linode/ubuntu18.04",
        "type": "g6-dedicated-4", "ipv6": "2600:3c00::f03c:91ff:fec3:f619/64", "ipv4":
        ["96.126.112.230"], "created": "2019-05-14T13:54:51", "hypervisor": "kvm",
        "watchdog_enabled": true, "tags": [], "specs": {"disk": 51200, "transfer":
        5000, "memory": 8192, "vcpus": 4}, "group": ""}'
  recorded_at: Tue, 14 May 2019 13:54:53 GMT
recorded_with: VCR 4.0.0
