---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/v4/domains
    body:
      encoding: UTF-8
      string: '{"type":"master","domain":"charlestreatman.com","description":"testing
        Fog::Linode::DNS#create_domain","soa_email":"fog-testing@example.com"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1556724807'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"domain": "charlestreatman.com", "axfr_ips": [], "retry_sec": 0, "description":
        "testing Fog::Linode::DNS#create_domain", "refresh_sec": 0, "soa_email": "fog-testing@example.com",
        "type": "master", "expire_sec": 0, "group": "", "id": 1228336, "ttl_sec":
        0, "status": "active", "tags": [], "master_ips": []}'
  recorded_at: Wed, 01 May 2019 15:31:29 GMT
recorded_with: VCR 4.0.0
