---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/linode/kernels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - unknown
      X-Accepted-Oauth-Scopes:
      - "*"
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557154437'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"pages": 3, "data": [{"kvm": false, "pvops": true, "label": "Latest
        2.6 (2.6.39.1-linode34)", "architecture": "i386", "xen": true, "version":
        "2.6.39", "id": "linode/latest-2.6-32bit"}, {"kvm": false, "pvops": false,
        "label": "Latest 2.6 Stable (2.6.23.17-linode44)", "architecture": "i386",
        "xen": false, "version": "2.6.24", "id": "linode/latest-2.6"}, {"kvm": true,
        "pvops": true, "label": "Latest 32 bit (4.18.16-x86-linode138)", "architecture":
        "i386", "xen": true, "version": "4.18.16", "id": "linode/latest-32bit"}, {"kvm":
        false, "pvops": false, "label": "Latest Legacy (2.6.18.8-linode22)", "architecture":
 [...]
- request:
    method: get
    uri: https://api.linode.com/v4/linode/kernels?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - unknown
      X-Accepted-Oauth-Scopes:
      - "*"
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining[...]
[...]
