---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/linode/instances/14022202/disks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1558017110'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"results": 3, "pages": 1, "page": 1, "data": [{"id": 29171265, "status":
        "ready", "label": "Ubuntu 18.04 LTS Disk", "updated": "2019-05-16T14:27:10",
        "filesystem": "ext4", "size": 40688, "created": "2019-05-15T18:58:51"}, {"id":
        29171266, "status": "ready", "label": "512 MB Swap Image", "updated": "2019-05-15T18:59:16",
        "filesystem": "swap", "size": 512, "created": "2019-05-15T18:58:51"}, {"id":
        29200416, "status": "ready", "label": "update_disk_spec", "updated": "2019-05-16T14:29:51",
        "filesystem": "ext4", "size": 10000, "created": "2019-05-16T14:27:19"}]}'
  recorded_at: Thu, 16 May 2019 14:29:51 GMT
recorded_with: VCR 4.0.0
