---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/linode/instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557762086'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"pages": 1, "data": [{"updated": "2019-05-13T15:32:59", "type": "g6-standard-1",
        "created": "2019-05-13T15:32:59", "specs": {"memory": 2048, "transfer": 2000,
        "vcpus": 1, "disk": 51200}, "status": "running", "ipv6": "2600:3c02::f03c:91ff:fec3:ffe4/64",
        "hypervisor": "kvm", "alerts": {"cpu": 90, "network_in": 10, "network_out":
        10, "transfer_quota": 80, "io": 10000}, "id": 13985768, "backups": {"schedule":
        {"day": null, "window": null}, "enabled": false}, "watchdog_enabled": true,
        "label": "debian-us-southeast", "ipv4": ["45.33.103.126"], "tags": [], "region":
        "us-southeast", "group": "", "image": "linode/debian9"}, {"updated": "2019-05-13T15:33:28",
        "type": "g6-standard-1", "created": "2019-05-13T15:33:28", "specs": {"memory":
        2048, "transfer": 2000, "vcpus": 1, "disk": 51200}, "status": "running", "ipv6":
        "2600:3c04::f03c:91ff:fec3:ff43/64", "hypervisor": "kvm", "alerts": {"cpu":
        90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
        "id": 13985775, "backups": {"schedule": {"day": null, "window": null}, "enabled":
        fa[...]
