---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - "*"
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557510686'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"pages": 1, "results": 21, "page": 1, "data": [{"description": null,
        "type": "manual", "label": "Alpine 3.9", "size": 300, "id": "linode/alpine3.9",
        "deprecated": false, "created_by": "linode", "created": "2019-02-06T21:57:45",
        "expiry": null, "is_public": true, "vendor": "Alpine"}, {"description": null,
        "type": "manual", "label": "Arch Linux", "size": 1800, "id": "linode/arch",
        "deprecated": false, "created_by": "linode", "created": "2016-06-13T20:31:34",
        "expiry": null, "is_public": true, "vendor": "Arch"}, {"description": null,
        "type": "manual", "label": "CentOS 7", "size": 1900, "id": "linode/centos7",
        "deprecated": false, "created_by": "linode", "created": "2014-07-08T14:07:21",
        "expiry": null, "is_public": tr[...]
