---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/linode/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - unknown
      X-Accepted-Oauth-Scopes:
      - "*"
      X-Spec-Version:
      - 4.0.21
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1556206421'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"network_out": 1000, "transfer": 1000, "addons": {"backups":
        {"price": {"monthly": 2.0, "hourly": 0.003}}}, "class": "nanode", "disk":
        25600, "id": "g6-nanode-1", "successor": null, "label": "Nanode 1GB", "vcpus":
        1, "memory": 1024, "price": {"monthly": 5.0, "hourly": 0.0075}}, {"network_out":
        2000, "transfer": 2000, "addons": {"backups": {"price": {"monthly": 2.5, "hourly":
        0.004}}}, "class": "standard", "disk": 51200, "id": "g6-standard-1", "successor":
        null, "label": "Linode 2GB", "vcpus": 1, "memory": 2048, "price": {"monthly":
        10.0, "hourly": 0.015}}, {"network_out": 4000, "transfer": 4000, "addons":
        {"backups": {"price": {"monthly": 5.0, "hourly": 0.008}}}, "class": "stan[...]
- request:
    method: get
    uri: https://api.linode.com/v4/linode/types/g6-standard-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - unknown
      X-Accepted-Oauth-Scopes:
      - "*"
      X-Spec-Version:
      - 4.0.21
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1556207312'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"addons": {"backups": {"price": {"hourly": 0.015, "monthly": 10.0}}},
        "label": "Linode 8GB", "price": {"hourly": 0.06, "monthly": 40.0}, "id": "g6-standard-4",
        "disk": 163840, "vcpus": 4, "transfer": 5000, "class": "standard", "network_out":
        5000, "memory": 8192, "successor": null}'
  recorded_at: Thu, 25 Apr 2019 15:46:32 GMT
recorded_with: VCR 4.0.0
