---
http_interactions:
- request:
    method: put
    uri: https://api.linode.com/v4/domains/1231330/records/12777316
    body:
      encoding: UTF-8
      string: '{"type":"CNAME","name":"alias.charlestreatman.com","target":"newtarget.charlestreatman.com"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '398'
      X-Ratelimit-Reset:
      - '1557253747'
      Retry-After:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"port": 0, "type": "CNAME", "target": "newtarget.charlestreatman.com",
        "weight": 0, "name": "alias", "id": 12777316, "priority": 0, "tag": null,
        "protocol": null, "ttl_sec": 0, "service": null}'
  recorded_at: Tue, 07 May 2019 18:28:08 GMT
recorded_with: VCR 4.0.0
