---
http_interactions:
- request:
    method: put
    uri: https://api.linode.com/v4/linode/instances/14022202/disks/12777316
    body:
      encoding: UTF-8
      string: '{"type":"CNAME","name":"alias.charlestreatman.com","target":"newtarget.charlestreatman.com"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1558016958'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"errors": [{"reason": "Not found"}]}'
  recorded_at: Thu, 16 May 2019 14:27:19 GMT
- request:
    method: put
    uri: https://api.linode.com/v4/linode/instances/14022202/disks/29200416
    body:
      encoding: UTF-8
      string: '{"label":"update_disk_spec"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1558017110'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"updated": "2019-05-16T14:29:51", "created": "2019-05-16T14:27:19",
        "label": "update_disk_spec", "filesystem": "ext4", "size": 10000, "status":
        "ready", "id": 29200416}'
  recorded_at: Thu, 16 May 2019 14:29:50 GMT
recorded_with: VCR 4.0.0
