---
http_interactions:
- request:
    method: put
    uri: https://api.linode.com/v4/domains/1228336
    body:
      encoding: UTF-8
      string: '{"description":"the new domain description from Fog::Linode::DNS#update_domain"}'
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1556731848'
      Retry-After:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"status": "active", "tags": [], "axfr_ips": [], "description": "the
        new domain description from Fog::Linode::DNS#update_domain", "id": 1228336,
        "retry_sec": 0, "master_ips": [], "ttl_sec": 0, "soa_email": "fog-testing@example.com",
        "refresh_sec": 0, "expire_sec": 0, "domain": "charlestreatman.com", "type":
        "master", "group": ""}'
  recorded_at: Wed, 01 May 2019 17:28:50 GMT
recorded_with: VCR 4.0.0
