---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/linode/stackscripts/9217
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557168603'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"description": "SiteDove Free is a powerful tool for beefing up the
        security of your website at NO COST. It includes a unique Burglar Alarm that
        shows you when changes are made to files on your site. If you''re not sure
        who made those changes, you will want to investigate to see if your site has
        been hacked.\r\n\r\nIn this way, SiteDove Free acts as an early warning system
        that can detect malicious attacks long before search engines and your readers
        encounter them. \r\n\t\t\t\r\nWebuzo is a Single User Control Panel which
        helps users deploy Web Apps (WordPress, Joomla, Drupal, etc) or System Apps
        (Apache, NGINX, PHP, Java, MongoDB, etc) on their virtual machines or in the
        cloud.\r\n\r\nYou can get a Webuzo License here\r\nhttp://www.webuzo.com/pricing\r\n\r\nPath
        to Installation Logs : /root/webuzo-install.log\r\n\r\nInstructions\r\nOn
        completion of the installation process, access http://your-ip:2004 to configure
        SiteDove and Softaculous Webuzo initially.\r\n\r\nContact : http://webuzo.com/contact",
        "updated": "2014-06-10T09:58:58", "username": "webuzo", "logo_url": "", "deployments_total":
        0, "user_gravatar_id": "cf0348f835d60e6d133040f49bb36ec5", "created": "2014-06-06T09:25:49",
        "script": "#!/bin/bash\n# <udf name=\"webuzo_license_key\" label=\"Premium
        Webuzo License Key\" example=\"WEBUZO-XXXXX-XXXXX-XXXXX\"/>\n\n###########################################################################################################\n#
        Install SiteDove and Softaculous Webuzo\n# Description -\n# About Webuzo :\n#   Webuzo
        is a Single User Control Panel which helps users deploy Web Apps (WordPress,
        Joomla, Drupal, etc)\n#   or System Apps (Apache, NGINX, PHP, Java, MongoDB,
        e[...]
