---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/domains/1228336
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - domains:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1556724963'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"refresh_sec": 0, "status": "active", "description": "testing Fog::Linode::DNS#create_domain",
        "master_ips": [], "group": "", "domain": "charlestreatman.com", "retry_sec":
        0, "tags": [], "type": "master", "soa_email": "fog-testing@example.com", "ttl_sec":
        0, "axfr_ips": [], "expire_sec": 0, "id": 1228336}'
  recorded_at: Wed, 01 May 2019 15:34:03 GMT
recorded_with: VCR 4.0.0
