---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/images/linode/ubuntu19.10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557510740'
      Retry-After:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"description": null, "created_by": "linode", "vendor": "Ubuntu", "type":
        "manual", "id": "linode/ubuntu19.10", "created": "2019-04-18T14:50:51", "label":
        "Ubuntu 19.04", "expiry": null, "size": 2650, "deprecated": false, "is_public":
        true}'
  recorded_at: Fri, 10 May 2019 17:50:20 GMT
recorded_with: VCR 4.0.0
