---
http_interactions:
- request:
    method: get
    uri: https://api.linode.com/v4/domains/1231330/records/12777316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <LINODE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - "*"
      X-Accepted-Oauth-Scopes:
      - domains:read_only
      X-Spec-Version:
      - 4.0.22
      X-Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining:
      - '399'
      X-Ratelimit-Reset:
      - '1557253327'
      Retry-After:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"service": null, "port": 0, "protocol": null, "ttl_sec": 0, "id":
        12777316, "type": "CNAME", "priority": 0, "target": "original.charlestreatman.com",
        "name": "alias", "weight": 0, "tag": null}'
  recorded_at: Tue, 07 May 2019 18:20:08 GMT
recorded_with: VCR 4.0.0
